@{
    ViewData["Title"] = "Games";
}
@model List<Game>

<div class="container">
    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-primary">
                Games list
            </h2>
        </div>
        <div class="col-4 text-end">
            <a asp-controller="Game" asp-action="Upsert" class="btn btn-secondary">
                <i class="bi bi-plus-circle"></i> Create New Game
            </a>
        </div>
    </div>
</div>

    <div class="row mt-4">
        @foreach (var game in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <img src="@Url.Content("~/" + @game.ImageUrl)" alt="@game.Title" class="card-img-top" width="100" height="100"/>
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                        <p class="card-text">@game.Description</p>
                        <p class="card-text">Platform: @game.Platform</p>
                        <p class="card-text">Publisher: @game.Publisher</p>
                        <p class="card-text">Age Rating: @game.AgeRating</p>
                        <p class="card-text">Price: @game.Price</p>
                        <div class="btn-group-container">
                            <div class="btn-group" role="group">
                                <a asp-controller="Game" asp-action="Upsert" asp-route-id="@game.Id" class="btn btn-outline-secondary">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Game" asp-action="Delete" asp-route-id="@game.Id" class="btn btn-outline-danger">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>